<ol class="breadcrumb">
    <li><a href="#course/<%= course.id %>"><%= course.name %></a></li>
    <li class="active"><%= challenge.name %></li>
</ol>

<div class="container">
    <h2><%= challenge.name %></h2>
    <p><em>Tier <%= challenge.tier %></em>, <em><%= challenge.credits %> credits.</em></p>
</div>
<div class="help-block"></div>
<div class="container">
    <p><%= challenge.description %></p>
</div>


<div class="row text-center">
    <% if (!challenge.completed) { %>
    <a class="completion" href="#complete/<%= challenge.id %>" style="color: green !important;">
    <% } %>
    <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
    <% if (!challenge.completed) { %>
    </a>
    <% } %>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div-->
      <div class="modal-body">
          <div class="row text-center">
              <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
          <br /><br />

          Congratulations, you have completed the challenge to earn <%= challenge.credits %> credits!
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
