<div class="container">
    <h2>Course Name</h2>
    <p>Course description</p>
</div>
<div class="container">
    <div class="page-header">
        <h3>Tier 1</h3>
    </div>
    <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-success">Challenge 1</a>
        <a href="#" class="list-group-item list-group-item-success">Challenge 2</a>
        <a href="#" class="list-group-item list-group-item-success">Challenge 3</a>
        <a href="#" class="list-group-item list-group-item-success">Challenge 4</a>
        <a href="#" class="list-group-item list-group-item-success">Challenge 5</a>
    </ul>
    <div class="page-header">
        <h3>Tier 2</h3>
    </div>
    <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-success">Challenge 1</a>
        <a href="#" class="list-group-item list-group-item-success">Challenge 2</a>
        <a href="#" class="list-group-item ">Challenge 3</a>
        <a href="#" class="list-group-item ">Challenge 4</a>
        <a href="#" class="list-group-item ">Challenge 5</a>
    </ul>
    <div class="page-header">
        <h3>Tier 3</h3>
    </div>
    <ul class="list-group">
        <a href="#" class="list-group-item ">Challenge 1</a>
        <a href="#" class="list-group-item ">Challenge 2</a>
        <a href="#" class="list-group-item ">Challenge 3</a>
        <a href="#" class="list-group-item ">Challenge 4</a>
        <a href="#" class="list-group-item ">Challenge 5</a>
    </ul>
</div>
