<div class="container text-center">
    <h2><%= course.name %></h2>
    <p><%= course.description %></p>
</div>
<div class="container">
    <ul class="list-group">
    <% _.each (challenges, function (challenge) { %>
        <a href="#challenge/<%= challenge.id %>" class="list-group-item <% if (challenge.get('completed')) { %>list-group-item-success<% } %>">
            <span class="label label-default label-pill pull-right"><%= challenge.get('tier') %></span>
            <%= challenge.get('name') %>
        </a>
    <% }); %>
    </ul>
</div>
